---
import type { RootQueryToIndividualsPageHeroConnection } from '@/__generated__/types';
import ResponsiveImage from './ResponsiveImage.astro';
import { formatHeroHeadingText } from '@/lib/utils';
import { getDefaultProps, onImageError } from '@/lib/error';

export interface Props {
	bgUrl: string;
	bgAlt: string;
	bgMobileUrl: string;
	bgMobileAlt: string;
	title: string;
	text: string;
}

export function createProps(graphQLContent: RootQueryToIndividualsPageHeroConnection): Props {
	if (!graphQLContent?.nodes[0]?.individualsPageHeroFields) {
		return getDefaultProps<Props>('IndividualsPageHero createProps', Astro);
	}

	const root = graphQLContent?.nodes[0]?.individualsPageHeroFields;

	return {
		bgUrl: root?.bg?.node?.sourceUrl ?? onImageError('missing bg image individuals page hero').src,
		bgAlt: root?.bg?.node?.altText ?? 'placeholder image',
		title: root?.title ?? '',
		text: root?.text ?? '',
		bgMobileUrl: root?.bgMobile?.node?.sourceUrl ?? onImageError('missing bg mobile image individuals page hero').src,
		bgMobileAlt: root?.bgMobile?.node?.altText ?? 'placeholder image',
	};
}
const { bgUrl, bgAlt, title, text, bgMobileUrl, bgMobileAlt } = Astro.props;
---

<section class='w-full flex lg:grid grid-cols-10 grid-rows-5 relative' aria-label={'Our Impact Hero Section'}>
	<div class='w-full h-full col-span-10 row-span-5'>
		{bgMobileUrl && bgUrl && <ResponsiveImage className='w-full h-full  object-cover ' mobileImgUrl={bgMobileUrl} desktopImgUrl={bgUrl} desktopAlt={bgAlt} mobileAlt={bgMobileAlt} />}
	</div>
	<div
		class=`absolute col-start-1 lg:col-start-2 col-span-10 lg:col-span-3 mx-auto row-start-4 row-span-1 w-full h-1/2 lg:h-full  
		flex flex-col justify-center lg:justify-center items-start justify-self-start lg:self-center self-end text-center text-white  inset-0 z-10 space-y-2 </div>] lg:[&>*]:mt-4`>
		{title && <h1 class='sm:mt-0 text-2xl lg:text-3xl  2x:text-4xl font-heading w-full'>{formatHeroHeadingText(title)}</h1>}
		{text && <p class=' w-full text-md font-medium text-wrap'>{text}</p>}
	</div>
</section>
