---
import type { RootQueryToMobileFoodPantryComponentConnection } from '@/types/__generated__/types';
import { supportsWebP } from '@/lib/utils';
import { Image } from 'astro:assets';
import LearnMoreBtn from './LearnMoreBtn';
import { getDefaultProps, onImageError } from '@/lib/error';

export interface Props {
	title: string;
	text: string;
	buttonText: string;
	link: string;
	img: string;
	alt: string;
	bgMobile: string;
	bgMobileAlt: string;
}

export function createProps(wpContent: RootQueryToMobileFoodPantryComponentConnection): Props {
	if (!wpContent?.nodes[0]?.mobileFoodPantryComponentFields) {
		return getDefaultProps<Props>('MobileFoodPantry createProps', Astro);
	}

	const root = wpContent.nodes[0].mobileFoodPantryComponentFields;

	return {
		img: root?.image?.node?.sourceUrl ?? onImageError('missing image in mobile food pantry component').src,
		alt: root?.image?.node?.altText ?? 'placeholder image',
		title: root?.title ?? '',
		text: root?.text ?? '',
		buttonText: root?.buttonText ?? '',
		bgMobile: root?.bgMobile?.node?.sourceUrl ?? onImageError('missing bg image in mobile food pantry component').src,
		bgMobileAlt: root?.bgMobile?.node?.altText ?? 'placeholder image',
		link: root?.link ?? '',
	};
}
const { title, text, buttonText, img, alt, bgMobile, bgMobileAlt, link } = Astro.props;

const useWebp = supportsWebP(Astro.request);
---

<section class='w-full flex md:justify-center flex-col md:flex-row justify-end md:items-center md:space-x-4 lg:mt-4 relative'>
	{bgMobile && <Image format={useWebp ? 'webp' : 'jpg'} inferSize={true} class='w-full md:hidden row-span-2 ' src={bgMobile} alt={bgMobileAlt} />}
	<div class='absolute md:relative flex flex-col justify-end md:items-center w-full sm:w-2/3 ml-1 sm:ml-2 md:ml-0 text-left md:text-center'>
		{title && <h2 class='w-[55%] sm:w-3/4  text-md xs:text-lg lg:text-xl text-black text-pretty'>{title.toUpperCase()}</h2>}
		{text && <p class='hidden sm:block my-1 text-sm xs:text-md lg:text-lg text-black max-w-[90%]'>{text}</p>}
		{
			buttonText && (
				<LearnMoreBtn
					id='mobile-food-pantry'
					size='md'
					className='my-1 md:mb-0 '
					useBg={false}
					color='purple'
					href={link}
					openInNewTab={true}
					text={buttonText}
					ariaLabel='link to mobile food pantry page'
				/>
			)
		}
	</div>
	{
		img && (
			<div class='md:w-1/2 lg:w-1/3 hidden md:block'>
				<Image loading='lazy' decoding='async' inferSize={true} class='my-8 lg:m-8 w-[300px] md:w-[375px]' src={img} alt={alt} />
			</div>
		)
	}
</section>
