<!-- ---
import { Image } from 'astro:assets';
import LearnMoreBtn from './LearnMoreBtn';
import type { RootQueryToSeniorCenterConnection } from '@/__generated__/types';
import { onImageError } from '@/lib/error';

export interface Props {
	img: string;
	imgAlt: string;
	title: string;
	text: string;
	link: string;
	linkText: string;
}

export function createProps(wpContent: RootQueryToSeniorCenterConnection): Props {
	const nwaRoot = wpContent.nodes[0]?.seniorCenterFields;
	return {
		img: nwaRoot?.img?.node?.sourceUrl ?? onImageError('missing image in Vita Tax Prep component').src,
		imgAlt: nwaRoot?.img?.node?.altText ?? 'placeholder image',
		title: nwaRoot?.title ?? '',
		text: nwaRoot?.text ?? '',
		link: nwaRoot?.link ?? '',
		linkText: nwaRoot?.linkText ?? '',
	};
}

const { img, imgAlt, title, text, link, linkText } = Astro.props;
---

<section class='w-full flex items-center justify-center my-4'>
	<div class='w-[80%] flex flex-col-reverse lg:flex-row lg:space-x-2 items-center justify-center'>
		<div class='w-full lg:w-1/2 flex items-center justify-center'>
			<Image src={img} format='jpg' height={600} width={400} alt={imgAlt} class='w-[600px] aspect-auto' />
		</div>
		<div class='lg:w-1/2 flex flex-col items-center lg:items-start space-y-2 text-center lg:text-left text-pretty my-2 lg:my-0'>
			<h2 class='text-2xl'>{title}</h2>
			<p class='text-lg'>{text}</p>
			<LearnMoreBtn size='md' text={linkText} href={link} ariaLabel={`Learn more about ${title}`} color='blue' />
		</div>
	</div>
</section> -->
<></>
