---
import { upcap211ServicesContent } from '@/config';
import LearnMoreBtn from './LearnMoreBtn.svelte';
 
const { heading, subheading, text, link, img, imgAlt } = upcap211ServicesContent;

---

<section class='flex flex-col mt-8 w-[80%] mx-auto'>
	<div class='flex flex-row mx-auto'>
		<div class='mr-4 w-1/2'>
			<h2 class='text-xl 2xl:text-2xl font-semibold text-primary-blue-2 text-nowrap'>{heading}</h2>
			<h3 class='text-lg 2xl:text-xl font-semibold mt-2'>{subheading}</h3>
		</div>
		<img loading='lazy' decoding='async' src={img} alt={imgAlt} class='mt-4 object-cover object-center h-full max-w-[100px] sm:max-w-[150px] lg:max-w-[200px] aspect-auto' />
	</div>
	<div class='lg:w-[65%] mx-auto flex flex-col'>
		<p class='mt-2 mb-2 lg:mb-7 text-md leading-normal'>{text}</p>
		<LearnMoreBtn id='up-211' className='self-end mx-auto' useBg={false} openInNewTab={true} href={link} ariaLabel='link to 211 services page' size='md' color='blue' />
	</div>
</section>
