---
export const prerender = false;
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';

import HistoryOfAccordion from '@/components/HistoryOfAccordion.svelte';
import { getValuesHistoryContent } from '@/config';

import DefaultLayout from '@/layouts/DefaultLayout.astro';
import ContentCollectionsHero from '@/components/ContentCollectionsHero.astro';

// if (import.meta.env.PROD) {
// 	Astro.response.headers.set('Cache-Control', `public, max-age=${60 * 60 * 24 * 4}, s-maxage=${60 * 60 * 24 * 2}`);
// }

const { imageOne, imageTwo, imageThree, content } = await getValuesHistoryContent();

const { heading, subheading, ourMission, ourValues } = content;
---

<DefaultLayout title='Our Values & History | United Way of Marquette County'>
	<main class='content'>
		<ContentCollectionsHero heading={heading} subheading={subheading} />
		<div class='flex flex-col items-center text-center md:text-left lg:grid grid-cols-2 gap-4 mx-auto my-8 max-w-[80%]'>
			<div class='flex flex-col items-center md:items-start text-black'>
				{ourMission.title && <h2 class='text-lg lg:text-2xl lg:my-2 text-primary-blue-2'>{ourMission.title}</h2>}
				{ourMission.text && <p class='w-[80%] text-md lg:text-lg m-0'>{ourMission.text}</p>}
			</div>
			{imageOne?.src && imageOne.alt && <Image loading='lazy' decoding='async' src={imageOne?.src} alt={imageOne?.alt} inferSize={true} class='w-full object-cover max-w-[600px]' />}
			{
				imageTwo?.src && imageTwo?.alt && (
					<Image loading='lazy' decoding='async' src={imageTwo?.src} alt={imageTwo?.alt} width={imageTwo?.width} height={imageTwo?.height} class='w-full h-96 object-cover max-w-[600px]' />
				)
			}
			<div class='flex flex-col items-center md:items-start'>
				{ourValues.title && <h2 class='text-lg lg:text-2xl text-primary-blue-2'>{ourValues.title}</h2>}
				{
					ourValues?.values?.length && (
						<ul class='space-y-2 leading-none'>
							{ourValues.values.map((value: string) => (
								<li class=' flex flex-row mt-4'>
									<Icon class='mt-2' name='bullet' size={16} />
									{value && <p class='mx-2 my-auto w-[80%] text-md m-0'>{value}</p>}
								</li>
							))}
						</ul>
					)
				}
			</div>
			{
				imageThree?.src && imageThree?.alt && (
					<Image loading='lazy' decoding='async' src={imageThree?.src} alt={imageThree?.alt} width={imageThree?.width} height={imageThree?.height} class='w-full h-96 object-cover col-span-2' />
				)
			}
			<HistoryOfAccordion className='col-span-2' client:visible='svelte' />
		</div>
	</main>
</DefaultLayout>
